<ion-view title="Clubmeets">
  <div class="bar bar-subheader">
    <h2 class="title">Login</h2>
  </div>
  <ion-content padding="true" class="has-header has-subheader">
    <form id="login-form" class="list">
      <ion-list id="login-list">
        <label class="item item-input " id="login-username">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="email">
        </label>
        <label class="item item-input " id="login-password">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button" class="button button-stable  button-block" ng-click="login(user,password)">Log in</button>
      <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button2" class=" button button-positive  button-block button-clear ">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
